@page
@model LoginModel
@{
}
<h3>Login</h3>
<div class="container">
    <form method="post">
        <div class="row p-1">
            <div class="col-1">Email</div>
            <div class="col-5"><input type="text" class="w-100" asp-for="LoginRequest.Email" /></div>
        </div>
        <div class="row p-1">
            <div class="col-1">Password</div>
            <div class="col-5"><input type="password" class="w-100" asp-for="LoginRequest.Password" /></div>
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <input type="submit" value="Login" />
            </div>
        </div>
    </form>
</div>